JUMBOTRON


.jumbotron-fluid {
	background-color: grey;
}
.jumbotron h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 65px;
	text-transform: uppercase;
	font-weight: 900;
	color: green;
	
}

.jumbotron p {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	background-color: white;
}
